# Ignorar todas as pastas
*/

# Exceto as pastas memcards e sstates:
# OBS: se quiser trackear outras pastas para outros emuladores, só colocar nessa lista com o !NomePasta/ 
!memcards/
!sstates/
!backup/
!ps2_bios/
!importar e gerenciar saves-mymc-alpha-2.7/